<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>css</title>
</head>
<body><center>
    <h1>welcome to css</h1>
    <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">about Css</a>
    </center>

    <p> Select Language below :</p>
    <a href="{% url 'python' %}">Python Syllabus</a>
    </br>
    <a href="{% url 'django' %}">django Syllabus</a>
    </br>
    <a href="{% url 'py_app:html' %}">Html Syllabus</a>
    </br>
    <a href="{% url 'py_app:js' %}">Java Script Syllabus</a>
    </br>
    <a href="{% url 'sql' %}">SQL Syllabus</a> 
    
</body>
</html>