<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JS</title>
</head>
<body>
    <center>
    <h1>welcome to Java Script</h1>
    <a href="https://en.wikipedia.org/wiki/JavaScript">about JavaScript</a>
    </center>

    <p> Select Language below :</p>
    <a href="{% url 'python' %}">Python Syllabus</a>
    </br>
    <a href="{% url 'django' %}">django Syllabus</a>
    </br>
    <a href="{% url 'py_app:html' %}">Html Syllabus</a>
    </br>
    <a href="{% url 'py_app:css' %}">Css Syllabus</a>
    </br>
    <a href="{% url 'sql' %}">SQL Syllabus</a> 
            
</body>
</html>