<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>python</title>
</head>
<body><center>
    <h1>python Syllabus</h1>
    <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">about python</a>
</center>
    </br>

    <p> Select Language below :</p>
    <a href="{% url 'django' %}">Django Syllabus</a>
    </br>
    <a href="{% url 'py_app:html' %}">Html Syllabus</a>
    </br>
    <a href="{% url 'py_app:css' %}">Css Syllabus</a>
    </br>
    <a href="{% url 'py_app:js' %}">Java Script Syllabus</a>
    </br>
    <a href="{% url 'sql' %}">SQL Syllabus</a>
</body>
</html>