<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>sql</title>
</head>
<body><center>
    <h1>welcome to SQL</h1>
    <a href="https://en.wikipedia.org/wiki/SQL">about SQL</a>
    </center>

    <p> Select Language below :</p>
    <a href="{% url 'python' %}">Python Syllabus</a>
    </br>
    <a href="{% url 'django' %}">django Syllabus</a>
    </br>
    <a href="{% url 'py_app:css' %}">Css Syllabus</a>
    </br>
    <a href="{% url 'py_app:js' %}">Java Script Syllabus</a>
    </br>
    <a href="{% url 'py_app:html' %}">Html Syllabus</a> 
</body>
</html>